
/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	// @include flexbox;
	@include font-size(1.4);
	// flex-flow: column;
	font-display: swap;
	// height: 100vh;
	font-family: Corbel;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{
	color: $color4;
	transition: .3s;
	&:hover{
		color: $color4;
	}
}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}


h1, h2, h3, h4{
	font-weight: normal;
}

.bold{
	font-weight: normal;
	font-family: "SegoeUIBold";
}

.italic{
	font-style: normal;
	font-family: "SegoeUIItalic";
}


input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.form-control{
	font-family: "SegoeUI";
	font-style: italic;
}

.before{
	content: "";
	display: block;
	position: absolute;
}



input[type="submit"],
button{
	cursor: pointer;
}


.btn{
	background: none;
	border: none;
	font-style: italic;
	font-family: "SegoeUI";
	font-size: 1.4rem;
	white-space: nowrap;
	transition: .3s;
	border-radius: 10px;
	&-white{
		background: #fff;
		color: $color3;
		&:hover{
			color: $color4;
		}
	}

	&-green{
		background: $color4;
		border: 2px solid $color4;
		color: $color2;
		margin: 2.5rem 0;
		padding: 1rem 1.8rem;
		width: 270px;

		&:hover{
			background-color: $color2;
			border-color: $color4;
			color: $color4;
		}
	}

	&-gray{

	}

	&-faq{
		padding: 1.8rem 0;
		width: 23rem;
	}
}

.d-grid{
	display: flex;
}
@supports (display:grid) {
	.d-grid{
		display: grid;
	}
}

.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input[type="text"]{
	font-family: Corbel;
	font-style: italic;
	font-size: 1.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
}




.user-access + label {
  cursor: pointer;
  color: $color3;
}

.user-access:not(checked) {
  position: absolute;
  opacity: 0;
}
.user-access:not(checked) + label {
  display: block;
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 40px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.user-access:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color7;
  	background-color: $color2;
  	border-radius: 3px;
}

/* Меняем фон чекбокса, когда он включен. */
.user-access:checked + label:before {
	border-color: $color7;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.user-access:checked + label:after {
	content: '*';
	position: absolute;
	top: -5px;
	left: 7px;
	width: 22px;
	height: 22px;
	font-size: 30px;
	border-radius: 3px;

}

input.submit:disabled{
	background: rgba(128, 128, 128, .3) !important;
	cursor: default;
	&:hover{
		opacity: 1 !important;
	}
}

.policy{
	a{
		color: $color7;
	}
}

/* =header
---------------------------*/
.header{
    background: linear-gradient(to right, #2d513d 0%, #55c58b 58%, #70ce9c 62%, #55c58b 67%,  #35694d 100%);
    color: $color2;
    border-bottom: 1px solid #afdec5;
    font-size: 1.5rem;
    padding-top: 1rem;
    a{
    	color: currentColor;
    }

    &__logo{
    	padding-top: 1.2rem;
    }

	&__center{
		padding: 0 3rem .5rem;
	}

	&__right{
		flex-shrink: 0;
		position: relative;
		width: 240px;
		.btn{
			margin-top: 1.6rem;
			padding: 1.2rem 0;
			text-align: center;
			width: 100%;
		}
	}

	&__contacts{
		align-items: center;
	}

    &__phones{
    	font-family: Verdana;
    	font-style: italic;
    	font-size: 2.4rem;
    	p{
    		line-height: 1.3;
    		letter-spacing: -.05em
    	}
    }

    &__address{
    	font-style: italic;
		font-family: "SegoeUI";
    }

	.sisea-search-form{
		background: $color2;
		border-radius: 5px 5px 0 0;
		bottom: -1px;
		left: 9px;
		padding: 0 1.5rem;
		position: absolute;
		width: calc(100% - 18px);
		&:before,
		&:after{
			@extend .before;
			width: 6px;
			height: 6px;
			border-radius: -50%;
			bottom: 0;
		}
		&:before{
			right: 100%;
			background-image: radial-gradient(circle at 0 0, transparent 6px, #fff 6px);
		}
		&:after{
			left: 100%;
			background-image: radial-gradient(circle at 100% 0, transparent 6px, #fff 6px);
		}

		label{
			display: block;
		}
		#search{
			border: none;
			border-bottom: 1px solid #b9b9b9;
			display: block;
			height: 30px;
			padding-right: 50px;
			width: 100%;
		}
		.submit{
			background: url(../images/search-btn.png) no-repeat center;
			border: none;
			filter: grayscale(1);
			height: 18px;
			position: absolute;
			right: 20px;
			top: 6px;
			width: 18px;
			transition: .3s opacity;
			&:hover{
				filter: grayscale(0);
			}
		}		
	}

}

.navmenu{
	font-size: 1.8rem;
	font-style: italic;
	padding-top: 1.5rem;
	.nav{
		display: flex;
		a, span{
			border-bottom: 1px dashed rgba(255,255,255,0);
			transition: .3s border-bottom;
			&:hover{
				text-decoration: none;
				border-bottom-color: #fff;
			}
		}
		span{
			cursor: default;
		}
		& > li{
			margin-right: 2.8rem;
			position: relative;
			&:last-child{
				margin-right: 0;
			}

			&:focus-within,
			&:hover{
				& > a{
					border-bottom-color: $color2;
				}
				.subnav{
					z-index: 99;
					ul{
						opacity: 1;
					}
				}
			}

			&.active{
				& > span,
				& > a{
					border-bottom-color: $color2;
				}
			}

			&.menu-3{
				.subnav{
					width: 25rem;
				}
			}
		}
		.subnav{
			left: 0;
			margin-left: -6rem;
			position: absolute;
			top: 27px;
			width: 16rem;
			z-index: -9999;
			ul{
				background-color: $color5;
				border-radius: 10px;
				font-size: 1.5rem;
				margin-top: 2.2rem;
				opacity: 0;
				padding: 1.2rem;
				transition: opacity .3s;
				&:before{
					@extend .before;
					width: 0;
					height: 0;
					left: 50%;
					margin-left: -4px;
					top: 15px;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid $color5;
				}
				li{
					margin: .4rem;
					&.active{
						& > a,
						& > span
						{
							border-bottom-color: $color2;
						}
					}
				}
			}
		}
	}
}
/* =/header
---------------------------*/



/* =navigation
---------------------------*/
/* =/navigation
---------------------------*/

/* =main
---------------------------*/

.main{
	aside{
	}
}

 

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}



#ymap{
	height: 33rem;
}



/* =share
---------------------------*/
.share{
	color: #808080;
	font-family: "Segoe UI";
	font-size: 1.8rem;
	font-style: italic;
	margin-top: 4rem;
	position: relative;
	padding-top: 2rem;
	text-align: center;
	p{
		padding-bottom: 1rem;
	}
	&:before{
		@extend .before;
		border-top: 1px solid $color12;
		left: 50%;
		top: 0;
		transform: translate(-50%);
		width: 382px;
	};
}
/* =/share
---------------------------*/



/* =footer
---------------------------*/
.footer{
	background: $color9;
	font-family: "Segoe UI";
	font-style: italic;
	margin-top: 2.5rem;
	padding: 3rem 0 0;

	&__left{
		display: flex;
		flex-direction: column;
		width: 40%;
		max-width: 440px;
	}

	&__logo{
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 6rem;
	}

	&__right{
		width: 40%;
	}

	&__contacts,
	.social{
		align-items: center;
		border-bottom: 1px solid #d5d5d5;
		border-top: 1px solid #d5d5d5;
		display: flex;
		justify-content: center;
		min-height: 13rem;
	}

	
	&__contacts{
		flex-direction: column;
		.tel{
			font-size: 1.8rem;
			color: $color4;
		}
	}

	.copyright{
		white-space: nowrap;
	}

	.copyright,
	.creators{
		align-items: center;
		color: $color1;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
		padding: 1rem 0;		
		text-align: center;
	}


	.social{
		display: flex;
		padding-top: 1rem;
		a{
			margin-right: .5rem;
			opacity: .5;
			transition: opacity .3s;
			&:last-child{
				margin-right: 0;
			}
			&:hover{
				opacity: 1;
			}
		}
	}

	&__right{
		min-height: 13rem;
	}
}
/* =/footer
---------------------------*/


label.error{
	display: none !important;
}

.form-control.error{
	outline: none;
	border-color: red !important;
}