::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .header{
}


// edge
// @supports (-ms-ime-align:auto) {
// }
_::-webkit-full-page-media, _:future, :root .selector {
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.navmenu .nav .subnav{
		top: 10px;
	}
	.navmenu .nav .subnav ul{
		display: none;
		opacity: 1;
	}
	.navmenu .nav>li:hover .subnav ul{
		display: block;
	}



	.advantages .d-grid{
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.advantage{
		&__item{
			margin-left: 1rem;
			margin-right: 1rem;
		}
	}


	.step__num{
		text-align: center;
		&:before{
			left: 50%;
			margin-left: -50px;
		}
	}

	.photo__title{
		padding-top: 8rem;
	}

	.article__desc{
		display: block !important;
	}
	.article{
		&__item{
			height: 278px;
		}
		&__text{
			margin: 1.2rem 0;
		}
	}

	.product__characteristics{
		justify-content: space-between;
		width: 100%;
		& > div{
			width: 25%;
			margin-bottom: 1rem;
		}
	}

	.card .product__desc .labels .label-type{
		top: -16px;
	}


	.catalog-similar .product__desc .labels .label-type{
		top: 0;
	}

	.card .product__characteristics .cell{
		width: auto;
	}

	.gal-item{
		margin: 1rem 0;
		img{
			display: block;
		}
	}

	.video__item,
	.article__item{
		margin: 2rem 0;
	}
}