.product{
	position: relative;
	&__pic{
		overflow: hidden;
	}

	&__thumbs{
		// position: absolute;
		// right: 5px;
		// bottom: -3px;
		// background: $color2;
		// border-radius: 10px 0 0 0;
		margin: 1.8rem 0;
		display: flex;
		justify-content: center;
		// &:before,
		// &:after{
		// 	@extend .before;
		// 	height: 7px;
		// 	width: 7px;
		// }
		// &:before{
		// 	background-image: radial-gradient(circle at 0 0,transparent 6px,#fff 6px);
		// 	bottom: 0;
		// 	right: 100%;
		// }
		// &:after{
		// 	background-image: radial-gradient(circle at 100% 0,transparent 6px,#fff 6px);
		// 	left: 100%;
		// 	top: 0;
		// }
		a{
			margin: 0 .4rem; 
		}
		img{
			border-radius: 8px;
		}
	}
}

.card{
	.product{
		margin-top: 4rem;
		position: relative;
		&__title{
			background: linear-gradient(to right,#fff,rgba(255,255,255,0));
			color: $color1;
		}
		&__head{
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
		&__desc{
			position: absolute;
			left: 50%;
			right: auto;
			width: auto;
			transform: translateX(-50%);
			top: -32px;
			.labels{
				position: static;
				.label-title.active{
					background: $color4 !important;
					color: $color2 !important;
				}
			}
		}
		&__characteristics{
			grid-template-columns: repeat(4, minmax(80px, max-content));
			margin: 2rem 0 3.2rem;
			.cell{
				margin: 0 2.2rem;
			}
			.field{
				margin-top: .5rem;
			}
		}

		&__package{
			width: 90px;
			text-align: right;
		}
	}

	#mainimg{
		display: block;
		border-radius: 10px;
		max-width: 100%;
		opacity: 1;
		transition: .3s;
	}

	.description{
		@extend .gradient-line;
		margin-top: 3rem;
		padding-top: 1rem;
		&:after{
			top: 0;
			bottom: auto;
		}
	}
}

.calc{
	.cell{
		align-items: center;
		border-radius: 8px;
		display: flex;
		justify-content: space-between;
		font-family: "SegoeUI";
		font-size: 1.5rem;
		font-style: italic;
		height: 62px;
		padding: 0 2.5rem;
		width: 24%;
		&-1{
			background: #e6e6e6
		}
		&-2{
			background: #cccccc;
			padding-right: 2rem;
		}
		&-3{
			background: #b3b3b3
		}
		&-4{
			padding: 0;
		}

	#minus,
	#plus
	{
		background: none;
		border: none;
		color: $color1;
		cursor: pointer;
		font-size: 18px;
		font-weight: normal;
		padding: 0;
		text-align: center;
		width: 15px;
	}


		.shk-but{
			border: none;
			border-radius: 8px;
			color: $color2;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #3f8463;
			background: linear-gradient(to bottom, #8ab9a2, #307a56);
			height: 100%;
			width: 100%;
			font-style: italic;
			&:hover{
				background: linear-gradient(to bottom, #307a56, #8ab9a2);				
			}
		}

		.product__submit{
			transition: .3s;
			&:disabled{
				cursor: default;
				// background: #ccc;
				filter: grayscale(1);
				opacity: .5;
				&:hover{
					background: linear-gradient(to bottom, #8ab9a2, #307a56);
				}
			}
		}


		.price{
			font-size: 3rem;
			color: $color2;
		}

		.form-control{
			border-radius: 10px;
			border: none;
			height: 30px;
			padding: 0;
			width: 6rem;
			text-align: center;
			font-size: 1.5rem;
		}
	}
}

.fadeout{
	opacity: .5 !important;
}