.qcart{
	font-family: "SegoeUI";
	font-size: 1.5rem;
	font-style: italic;
	padding-left: 15px;
	margin-top: 1.4rem;
	a{
		color: #e5e5e5;
		@extend .tdn;
	}
	.shop-cart{
		background: url(../images/cart.png) no-repeat left center;
		padding-left: 43px;
	}
}

.cart{
	font-size: 1.5rem;
	font-style: italic;
	font-family: "SegoeUI";
	&__table{
		@extend .gradient-line;
		padding-bottom: 1.5rem;
	}
	.row{
		margin-top: 3.4rem;
		padding: 0;
		.col{
			background: #e6e6e6;
			padding: 0 2rem;
			display: flex;
			align-items: center;
			&-product{
				padding: 0;
			}
			.product__count{
				margin: .4rem 0;
			}
			&-count{
				.d-flex{
					flex-direction: column;					
				}
				.form-control{
					background: $color2;
					border-radius: 10px;
					border: none;
					height: 3rem;
					text-align: center;
					width: 6rem;
					padding: 0;
				}
				.shk_count_button{
					background: none;
					border: none;
					padding: 0;
					margin: 0 .5rem
				}
			}
			&-price{
				white-space: nowrap;
			}
			&-del{
				flex-shrink: 1 !important;
				flex-grow: 0 !important;
				line{
					stroke: #7f7f7f;
					stroke-width:4
			
				}
				.del:hover{
					line{
						stroke: $color7;
					}
				}
			}
		}
	}

	&__row{
		&-footer{
			background-color: $color9;
			color: $color3;
			text-align: center;
			font-size: 1.8rem;
			margin-top: 4rem;
			justify-content: center;
			font-style: normal;
			width: 1180px;
			margin-left: auto;
			margin-right: auto;
			.cost{
				margin-left: 1rem;
				span{
					font-weight: bold;
					color: $color4;					
				}
			}
		}

		&-submit{
			background: $color9;
			padding: .9rem 0;
		}
	}
	.product{
		&__item{
			cursor: default;
			box-shadow: none;
			font-style: normal;
			margin-top: 0;
			&:hover{
				height: auto;
				.product{
					&__pic{
						height: auto;
						img{
							min-height: 0
						}
					}
				}
			}
		}
		&__desc{
			height: 100%;
		}
	}
}


.payments{
	border-left: 1px solid $color13;
	border-right: 1px solid $color13;
	margin: 8rem 0 5rem; 
	padding: 0 13rem; 
	position: relative;
	&:before,
	&:after{
		@extend .before;
		background: linear-gradient(to right, $color13, $color2);
		height: 1px;
		width: 22rem;
	}
	&:before{
		top: 0;
		left: 0;
	}
	&:after{
		bottom: 0;
		left: 0;
	}

	&__inner{
		padding-bottom: .5rem;
		&:before,
		&:after{
			@extend .before;
			background: linear-gradient(to right, $color2, $color13);
			height: 1px;
			right: 0;
			width: 22rem;
		}
		&:before{
			top: 0;
		}
		&:after{
			bottom: 0;
		}
	}
	header{
		font-size: 2.4em;
		color: #808080;
		position: relative;
		padding-top: 1rem;
		top: -3rem;
		h1{
			&:after{
				display: none;
			}
		}
	}
	.payment-icon{
		margin: 4rem 0 ;
	}
	.payment__text{
		color: #404040;
		display: flex;
		font-size: 1.8rem;
		font-style: italic;
		justify-content: center;
		text-align: center;
		margin-top: -3rem;
		p{
			padding-bottom: .5rem;
			border-bottom: 1px dashed;
		}
	}
}




.shop-cart{
	&-thank{
		display: flex;
		height: calc(100% - 140px);
		justify-content: center;
		align-items: center;
	}
	
	.empty{
		font-size: 20px;
		margin: 50px 0;
	}

	.shop-cart-empty{
		margin-bottom: 20px;
	}
}



.cart{
	&__form{
		@extend .gradient-line;

		margin-left: auto;
		margin-right: auto;
		width: 1180px;
		.title{
			font-family: "SegoeUI";
			color: $color4;
			text-transform: uppercase;
			font-size: 1.8rem;
			font-weight: bold;
			margin-top: 2.5rem;
		}
		.policy{
			font-style: italic;
			color: $color3;
			margin-top: 1.5rem;
			a{
				color: $color4;
			}
		}
		.btn{
			display: none;
			&-submit{
				background-color: #337c58;
				background: linear-gradient(to bottom, #8bbaa3, #317b57 );
				border-radius: 4px;
				color: $color2;
				display: block;
				height: 3.6rem;
				font-size: 15px;
				font-style: normal;
				margin-left: auto;
				margin-right: auto;
				padding: 0 1.3rem;
				font-weight: bold;
				text-transform: uppercase;
				&:hover{
					background: linear-gradient(to bottom, #317b57, #8bbaa3 );					
				}
				&:disabled{
					background-color: #b3b3b3;
					cursor: default;
				}
			}
		}

		.radio + label {
			font-style: italic;
			border-radius: 3px;
			cursor: pointer;
			transition: .3s;
			margin-top: 1.8rem;
			margin-bottom: -.8rem;
			&:hover{
				background-color: $color4;
				color: $color2;
			}
		}

		.radio:not(checked) {
			position: absolute;
			opacity: 0;
		}
		.radio:not(checked) + label {
			// background-color: $color9;
			background-color: #e6e6e6;
			display: block;
			position: relative;
			padding: 4px 12px;
			min-height: 3rem;
		}

		.radio:checked + label{
			background-color: $color4;
			color: $color2;
		}

		.radio:disabled + label{
			background-color: #ccc !important;
			color: $color2;
		}
	}

	&__column{
		flex-basis: 25%;
		&-head{
			background-color: $color9;
			color: $color3;
			padding: 10px 3rem 10px .5rem;
		}
		&-body{
			margin-top: .8rem;
			padding-right: 2.5rem;
			.item{
				margin-top: 10px;
				label{
					display: inline-block;
					margin: 0;
				}

				&:first-child{
					margin-top: 1.7rem;
				}
			}
		}

		.form-control{
			@include transition;
			border: 1px solid #ccc;
			border-radius: 3px;
			color: $color1;
			height: 30px;
			padding: 5px 10px;
			margin-top: 1rem;
			width: 245px;
			&:focus,
			&:active
			{
				background: #fff;
				outline: 1px solid $color4;
			}
			&:disabled{
				// opacity: .8;
				border-color: #d8d8d8;
			}
		}



		&:last-child{
			.cart__column-body{
				padding-right: 0;
			}	
		}
	}



	&__column,
	&__msg{
		label{
			font-family: "SegoeUI";
			font-style: italic;
			display: block;
			color: $color3;
			padding-left: 1.2rem;
			margin: 10px 0 .5rem;
		}		
	}


	&__msg{
		textarea{
			font-style: italic;
			@include transition;
			color: $color4;
			padding: .5rem 10px;			
			width: 100%;
			&:focus,
			&:active
			{
				outline: 1px solid $color4;
			}			
		}
	}

	.currency{
		span{
			font-size: 18px;
		}
	}


	&__orderinfo{
		padding: 5px 0 25px;
		a{
			@extend .tdu;
		}
		textarea.form-control{
			border-color: #ccc;
			border-radius: 4px;
			height: 9.2rem;
			margin-top: 1rem;
			padding: .5rem 1.2rem;
			width: calc(100% - 50px);
		}
	}

	&__text{
		font-size: 15px;
		font-style: italic;
		color: $color3;
		padding: 10px 0 0;
	}
}
