.hide{
	display: none;
	opacity: 0;
}

.product{
	&__item{
		margin-top: 7.6rem;
		position: relative;
		transition: .3s;

	}
	&__desc{
		color: $color2;
		display: flex;
		flex-direction: column;
		
		justify-content: center;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		.labels{
			position: absolute;
			display: flex;
			right: 0;
			top: 0;
			top: -3.2rem;
			.label{
				&-class{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					font-family: "SegoeUI";
					width: 112px;
					&:first-child{
						margin-right: 1.6rem;
					}
					&:hover{
						.label-title{
							color: $color2;
							background-color: $color4;
						}
					}
					.label-title.active{
						color: $color2;
						background-color: $color4;						
					}
				}
				&-title{
					background: #e6e6e6;
					border-radius: 5px 5px 0 0;
					color: $color1;
					text-align: center;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 3.2rem;
					transition: background-color .3s;
					cursor: default;
					&:hover{
						background: #e6e6e6 !important;
						color: $color1 !important;
					}
				}
				&-type{
					align-items: flex-end;
					background: #858585;
					background: linear-gradient(to bottom, #e0e0e0, #fff 20%, #858585 100% );
					display: flex;
					font-family: Corbel;
					font-size: 2.4rem;
					font-weight: normal;
					height: 63px;
					justify-content: center;
					line-height: 1.2;
					// margin: 0 .8rem;
					padding-bottom: 1.3rem;
					width: 48px;
					position: relative;
					z-index: 2;
					&:before,
					&:after{
						@extend .before;
						height: 44px;
						width: 7px;
						background: url(../images/label-shadow.png) no-repeat left top;
						top: 0;
					}
					&:before{
						left: -4px;						
					}
					&:after{
						right: -4px;
						transform: scale(-1,1);
					}
					img{
						display: block;
					}

					&.active,
					&:hover{
						background: linear-gradient(to bottom, #c4dcd0, #fff 17%, #75ab91 40%, #317b57 100% );
					}					
				}
			}
		}
	}

	&__title{
		background: linear-gradient(to right, #848484, rgba(132,132,132, .5));
		font-size: 1.8rem;
		align-self: flex-start;
		min-height: 3rem;
		min-width: 23rem;
		margin: .5rem 0;
		padding: 0.2rem 1.5rem;
		text-transform: uppercase;
	}

	&__panel{
		// display: none;
		// z-index: -1;
		// opacity: 0;
		transition: .1s;
		background: #e6e6e6;
		// background: linear-gradient(to right, rgba(255,255,255,.7) 0%, rgba(255,255,255,.2) 70%, rgba(255,255,255,.7) 100%);
		// bottom: 8px;
		// left: 8px;
		min-height: 10rem;
		padding: 1rem 6.5rem 1rem 2.3rem;
		// position: absolute;
		// top: 104px;
		// width: calc(100% - 16px);
		.d-flex{
			align-items: center;
			justify-content: space-between;				
		}
		.d-grid{
		}
	}

	&__characteristics{
		grid-template-columns: repeat(4, minmax(80px, max-content));
		grid-column-gap: 15px;
		grid-row-gap: 1rem;
		font-family: Tahoma;
		font-size: 1.3rem;
		.title{
			color: #737373;
		}
		.field{
			color: #000;
		}
	}

	&__link{
		filter: grayscale(1);
		transition: filter .3s;
		&:hover{
			filter: grayscale(0);
		}
	}

}

.catalog{
	@extend .gradient-line;
	margin-top: 2.5rem;
	padding-top: .2rem;
	&:after{
		bottom: auto;
		top: 0;
	}

	.select-text{
		font-size: 1.8rem;
	}
	.nav-link{
		background: #808080;
		border-radius: 5px;
		border: none;
		color: $color2;
		padding-left: 1.8rem;
		padding-right: 1.8rem;
		font-family: "SegoeUI";
		transition: background-color .3s;
		&.active,
		&:hover{
			background-color: $color4;
		}
	}

	.filter{
		.brands{
			margin: 1.8rem 0;
		}
		a{
			font-size: 1.4rem;
			text-transform: uppercase;
			font-family: "SegoeUI";
		}
		ul{
			list-style: none;
			li{
				margin: 0 .9rem;
				&:before{
					display: none;
				}
			}
		}

		.types{
			position: relative;
			padding-right: 1.5rem;
			margin-right: 1.5rem;
			&:after{
				@extend .before;
				border-right: 2px solid $color7;
				height: 24px;
				right: 0;
				top: 4px;
			}
		}
	}

	.products{
		@extend .gradient-line;
		grid-template-columns: repeat(2, 625px);
		// grid-auto-rows: 150px;
		justify-content: space-between;
		margin-top: 2.5rem;
		padding-top: .2rem;
		
		&:after{
			bottom: auto;
			top: 0;
		}
		&.loaded{
			.product__item{
				opacity: .5;			
			}
			&:before{
				@extend .before;
				align-items: center;
				background: rgba(255, 255, 255, 0.7) url(../images/ajax-loader.gif) no-repeat top 55% center;
				bottom: -5px;
				content: "";
				display: flex;
				font-size: 2rem;
				justify-content: center;
				left: 0;
				margin: auto;
				right: 0;
				text-align: center;
				top: 0;
				z-index: 99;
			}
		}
	}

	.product{
		$h: 11.8rem;
		&__pic{
			height: $h;
		}
		&__desc{
			height: $h;
		}
	}

	&-similar{
		padding-top: 2.3rem;
		padding-bottom: 3rem;
		.products{
			margin-top: -1.5rem;
			&:after{
				display: none;
			}
		}
	}
}


