.homeslider{
	font-size: 3rem;
	color: $color2;
	.slick-slide{
		position: relative; 
	}
	.container{
		position: absolute;
		left: 0;
		top: 0;
		transform: translateX(25%);
		margin-left: -8px;
		height: 100%;
	}
	.text{
		left: 0;
		margin-left: 14rem;
		padding: 2rem 14rem 2rem 2.4rem;
		position: absolute;
		top: 0;		
		transform: translateY(55%);
		background: rgba(61, 22, 6, .65);
	}

	.slick-dots{
		background: rgba(67, 74, 84, .85);
		height: 25px;
		display: flex;
		align-items: center;
		border-radius: 25px;
		justify-content: center;
		padding: 0 2px;
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
		&:before{
			@extend .before;
			height: 25px;			
			border-radius: 25px;
			bottom: -25px;
			width: 100%;
			background: linear-gradient(to bottom, rgba(67, 74, 84, .7), rgba(0,0,0,0) 35% );

		}
		&:after{
			@extend .before;
			background: linear-gradient(to right, rgba(255,255,255,0), #fff 50%, rgba(255,255,255,0) 100%);
			bottom: 0;
			height: 1px;
			left: -25px;
			opacity: .5;
			width: calc(100% + 50px);
		}
		li{
			margin: 0 5px;
			button{
				background: #808080;
				border-radius: 50%;
				border: none;
				display: block;
				height: 10px;
				overflow: hidden;
				font-size: 0;
				padding: 0;
				width: 10px;
				&:after{
					@extend .before;
					background: linear-gradient(to bottom, #808080, rgba(0,0,0,0) 50% );
					width: 10px;
					height: 10px;
					border-radius: 50%;
					bottom: -17px;
				}
			}

			&.slick-active{
				button{
					background: #fff;
					&:after{
						background: linear-gradient(to bottom, rgba(255,255,255,.5), rgba(0,0,0,0) 50% );
					}
				}
			}
		}
	}
}


// rubrics
.rubrics{
	margin: 4rem 0 6rem;
}

.rubric{
	&__img{
		filter: drop-shadow(0 0 5px rgba(0,0,0,.85));
	}

	&__plate{
		width: 475px;
	}


	&__link{
		color: $color2;
		display: block;
		position: relative;
		&:hover{
			color: $color2;
			.rubric{
				&__more{
					text-decoration: underline;
				}
			}
		}
	}

	&__title{
		font-size: 3rem;
		font-weight: normal;
		line-height: 1.2;
		text-transform: uppercase;
	}

	&__desc{
		bottom: 0;
		font-size: 1.8rem;
		left: 0;
		padding: 1.2rem 3rem 3rem 1.5rem;
		position: absolute;
		right: 0;
		top: 0;
	}

	&__text{
		line-height: 1.2;
		padding-top: 1.5rem;		
	}

	&__more{
		position: absolute;
		right: 23px;
		bottom: 0;
		font-size: 1.6rem;
		color: $color1;
		font-style: italic;
	}
}


.htitle{
	background-color: rgba(255,255,255,.8);
	display: inline-block;
	font-size: 3rem;
	font-weight: normal;
	letter-spacing: -.02em;
	padding: .5rem 2rem;
	text-transform: uppercase;
}


.home-section{
	background-size: cover;
	padding-bottom: .8rem;
	background-repeat: no-repeat;
}

//advantages
.advantages{
	background-image: url(../images/advantages-bg.jpg);
	background-color: #c87f54;
	margin-top: 3.5rem;

	.d-grid{
		grid-template-columns: repeat(7, 156px);
		justify-content: space-between;
		// grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

	}

	header{
		text-align: center;
		padding: 2.5rem 0 3.3rem;
	}
}
.advantage{
	&__item{
		margin-bottom: 1.6rem;
		white-space: nowrap;
	}
	&__link{
		color: $color6;
		text-transform: uppercase;
		text-align: center;
		display: block;
		&:hover{
			color: $color6;
			text-decoration: none;
			img{
				filter: none
			}
		}
		img{
			display: block;
			filter: grayscale(1) brightness(1.6);
			margin: 0 auto 1.4rem;
			transition: filter .3s
		}
	}
}
///advantages


// =aboutcifr
.aboutcifr{
	background-color: $color6;
	padding: 1.5rem 0 1px;
	.cifr,
	.green{
		color: $color4;
		font-size: 6rem;
		line-height: 1;
	}
	.cifr{
		letter-spacing: -.05em;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.green{
		font-size: 3.6rem;
	}
}
.about{
	&__wrapper{
		padding-bottom: 60px;
	}
	&__item{
		font-size: 2.4rem;
		text-transform: uppercase;
		position: relative;
		padding-left: 30px;
		&:after{
			background: url(../images/arrow-long.png) no-repeat;
			@extend .before;
			left: 0;
			width: 362px;
			height: 56px;
			bottom: -60px;
		}
	}
}
// =#aboutcifr


// =locks
.connections{
	background-color: #aba08a;
	background-image: url(../images/connection-bg.jpg);
	padding-top: 7.2rem;

	.htitle{
		position: relative;
		&:before,
		&:after{
			@extend .before;
			background: url(../images/arrow-left.png) no-repeat;
			height: 35px;
			top: 25px;
			width: 102px;
		}
		&:before{
			left: -110px;
		}
		&:after{
			transform: scale(-1, 1);
			right: -110px;
		}

	}

}
.connection{
	&__plate{
		margin: 5.5rem 0 5rem;
	}

	&__link{
		transition: box-shadow .3s;
		box-shadow: 0 0 15px rgba(0,0,0,.8);
		color: $color2;
		display: block;
		position: relative;
		&:hover{
			color: $color2;
			box-shadow: 0 0 15px rgba(0,0,0,1);
			.connection{
				&__title{
					border-bottom-color: #fff
				}
			}
		}
	}

	&__desc{
		padding: 1.2rem .6rem;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}

	&__title{
		display: inline-block;
		border-bottom: 2px dashed rgba(255,255,255,0);
		color: $color2;
		font-size: 3rem;
		font-weight: normal;
		line-height: 1;
		text-transform: uppercase;
		transition: border-bottom-color .3s
	}
	&__subtitle{
		font-size: 3rem;
		line-height: 1;
		margin-top: 1.8rem;
	}

	&__text{
		background-color: rgba(0,0,0,.5);
		margin-top: 1.6rem;
		padding: .2rem;
		font-size: 1.3rem;
	}
}
// =/locks


// =steps
.steps{
	background-image: url(../images/steps-bg.webp);
	background-color: #4a311d;
	min-height: 42rem;
	padding: 3rem 0;
	.container{
		position: relative;
	}
}

.step{
	color: $color2;	
	width: 40rem;
	display: flex;
	position: absolute;
	&:before{
		@extend .before;
		background-image: url(../images/step-arrow.png);
		height: 55px;
		width: 93px;
	}

	&-inv{
		.step{
			&__num{
				order: 2;
			}
			&__desc{
				margin-left: 0;
				margin-right: 1rem;
				padding-top: 3.5rem;
				text-align: right;
			}
		}
	}

	&__num{
		align-items: center;
		display: flex;
		flex-shrink: 0;
		font-family: Tahoma;
		font-size: 6rem;
		font-weight: bold;
		height: 14rem;
		justify-content: center;
		position: relative;
		width: 14rem;
		&:before{
			@extend .before;
			background-color: rgba(255, 255, 255, 0.31);
			box-shadow: inset 0 0 9px rgba(71, 179, 89, 0.6);
			height: 100px;
			width: 100px;
			transform: rotate(45deg);
		}
	}

	&__desc{
		margin-left: 1.4rem;
		padding-top: 5.8rem;
	}

	&__title{
		font-size: 1.8rem;
	}	
	&__text{
		font-size: 1.3rem;
	}


	&-1{
		left: 0;
		top: 185px;
	}
	&-2{
		left: -14px;
		top: 16px;
	}
	&-3{
		left: 408px;
		top: 210px;
	}
	&-4{
		left: 397px;
		top: 80px;
		.step__desc{
			padding-top: 1rem;
		}
	}
	&-5{
		left: 883px;
		top: 183px;
	}
	&-6{
		left: 872px;
		top: 50px;
		.step__desc{
			padding-top: 2.5rem;
		}
		&:before{
			display: none !important;
		}
	}

	&-1,
	&-3,
	&-5{
		&:before{
			left: 157px;
			top: -35px;
		}
	}
	&-3{
		&:before{
			top: -20px;
		}
	}
	&-5{
		&:before{
			top: -10px;
		}
	}

	&-2,
	&-4{
		&:before{
			background-image: url(../images/step-arrow.png);
			right: -65px;
			top: 140px;
			transform: rotate(75deg);
		}
	}

	&-4
	{
		&:before{
			right: -75px;
			transform: rotate(65deg);
			top: 100px;
		}
	}

}
// =/steps



// =reviews
.reviews{
	background-image: url(../images/reviews-bg.webp);
	background-color: #bfa892;
	padding: 3.5rem 0 1rem;
	min-height: 315px;
	#reviews-carousel{
		margin-top: 3.4rem;
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	&__more{
		color: $color1;
		display: inline-block;
		font-style: italic;
		font-size: 1.8rem;
		margin-top: 1rem;
		&:hover{
			color: $color7;
			text-decoration: underline;			
		}
	}
}


.slick{
	&-arrow{
		background: url(../images/carousel-arrow.webp) no-repeat;
		border:none;
		height: 57px;
		padding: 0;
		position: absolute;
		top: 50%;
		margin-top: -26px;
		transition: filter .3s;
		width: 26px;
		&:hover{
			filter: none;
		}
		&-white{
			filter: grayscale(1) brightness(3);
		}
		&-gray{
			filter: grayscale(1) brightness(1.8)
		}
	}
	&-prev{
		left: -50px;
	}
	&-next{
		transform: rotate(180deg);
		right: -50px;
	}
}


.review{
	&__item{
		min-height: 165px;
		box-shadow: inset 0 0 9px rgba(205, 205, 205, 0.75);
		background-color: rgba(255, 255, 255, 0.65);
		border-radius: 10px;
		padding: 1.8rem 2.2rem;
	}
	&__title{
		font-size: 1.8rem;
	}
	&__text{
		margin-top: 1rem;
	}
}
// =/reviews


// =info__tabs
.info__tabs{
	background-color: $color8;
	padding: 2.5rem 0;
	margin-bottom: 4rem;
	min-height: 430px;
	.nav-tabs{
		justify-content: center;
	}
	.nav-item{
		background-color: $color3;
		border-radius: 8px;
		color: $color2;
		font-family: "SegoeUI";
		margin: 0 .9rem;
		padding: .5rem 2rem;
		text-transform: uppercase;
		font-style: normal;
		&.active,
		&:hover{
			color: $color2;
			background-color: $color4;
		}
	}

	.tab-content{
		.more{
			font-size: 1.8rem;
			font-style: italic;
			margin-top: 2.5rem;
			text-align: center;
			&__link{
				@extend .tdn;				
				color: $color7;
			}
		}
	}
}

#photo-carousel{
	display: flex;
	margin-top: 6.5rem;
	&.slick-initialized{
		display: block;
	}

	.photo{
		&__item{
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.photo{
	&__item{
		width: 366px;
	}
	&__link{
		display: block;
		position: relative;
		&:hover{
			.photo{
				&__title{
					background-color: rgba(71, 178, 89, .75);
				}
			}
		}
	}
	&__title{
		color: $color2;
		display: flex;
		height: 100%;
		left: 0;
		padding: 0 1rem;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		transition: background .3s;
		top: 0;
		width: 100%;
		span{
			margin: auto;
		}
	}
}

#video-carousel{
	margin-top: 2.5rem;
}

.video{
	&__item{
		width: 365px;
	}

	&__link{
		color: $color2;
		position: relative;
		display: block;
		&:before{
			@extend .before;
			background: url(../images/video-arrow.svg) no-repeat;
			height: 42px;
			left: 50%;
			opacity: .5;
			top: calc(50% - 4rem);
			transform: translate(-50%, -50%);
			width: 36px;
			transition: opacity .3s;
		}
		&:hover{
			color: $color2;
			text-decoration: none;
			&:before{ 
				opacity: 1
			}
			.video{
				&__desc{
					background-color: $color4;
				}
			}
		}
	}
	&__desc{
		background-color: $color3;
		padding: .8rem;
		height: 8rem;
		transition: background-color .3s;
	}
	&__title{
		font-size: 1.5rem;
		white-space: nowrap;
		text-align: center;
		text-transform: uppercase;
	}

	&__text{
		font-size: 1.3rem;
	}
}



#articles-carousel{
	margin-top: 2.5rem;
}


.article{
	&__item{
		font-family: "SegoeUI";
		text-align: center;
		width: 365px;
	}

	&__link{
		color: $color2;
		display: flex;

		&:hover{
			color: $color2;
			text-decoration: none;
			.article{
				&__desc{
					&:before{
						opacity: 1;						
					}
				}
			}
		}
	}
	&__desc{
		flex-direction: column;
		flex-shrink: 0;
		padding: .8rem;
		transition: background .3s;
		width: 20rem;
		position: relative;
		background: linear-gradient(to bottom, #5e5e5e 0%, #858585 50%, #5e5e5e 100%);
		&:before{
			@extend .before;
			background: linear-gradient(to bottom, #3f8961 0%, #50bc82 50%, #3f8961 100%);
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0;
			transition: opacity .3s;
		}
	}
	&__title{
		font-size: 1.5rem;
		padding-top: 1.8rem;
		text-align: center;
		text-transform: uppercase;
		position: relative;
	}

	&__text{
		flex-grow: 1;
		line-height: 1.3;
		display: flex;
		align-items: center;
		position: relative;
	}

	&__date{
		border-top: 1px solid $color2;		
		padding: .6rem 0;
		position: relative;
	}
}
// =/info__tabs


.map{
	position: relative;
	&:before,
	&:after{
		@extend .before;
		z-index: 999;
	}

	&:after{
		background:url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAHCAQAAABjRe8fAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjAQoSIR5n61XGAAAAHUlEQVQI12NgsGJi+MLE8JmJ4QsTwzcGBlYGBiYAML4EG8OqhRoAAAAASUVORK5CYII=") repeat-x;
		width: 100%;
		height: 7px;
		z-index: 998;
		top: 0px;
		left: 0;
	}

	&:before{
		background: url(../images/map-top.png) center top;
		height: 79px;
		left: 50%;
		transform: translateX(-50%);
		width: 406px;
	}
}

.vcard{
	font-family: "Segoe UI";
	font-size: 1.5rem;
	margin-top: 1.5rem;
	a{
		color: $color4;
		&:hover{
			text-decoration: underline;
		}
	}
}


