@supports (display:grid) {
	.inner.main-grid{
		height: auto;
		min-height: 100vh;
		display: grid;
		grid-template-areas: "header"
		                     "main"
		                     "share"
		                     "footer";
		grid-template-rows: auto 1fr auto auto;
	}
}

.inner{
	.share{
		margin-top: 2rem;
	}
}

.breadcrumbs{
	margin: 1.8rem 0;
	ul{
		display: flex;
		flex-wrap: wrap;
		text-transform: lowercase;
		font-style: italic;
	}
	.B_separator{
		margin: 0 .5rem;
	}
	.B_currentCrumb{
		color: $color4;
		text-decoration: underline;
	}
}


.main{
	margin-top: .5rem;
	h1{
		margin-bottom: 4rem;
		font-size: 2.4rem;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		&:after{
			@extend .before;
			bottom: -18px;
			height: 1px;
			left: 0;
			width: 100%;
			background: linear-gradient(to right, #fff 0%, #a2a7b1 50%, #fff 100% )
		}
	}

}


main{

	h2, h3, h4{
		margin: 1.5rem 0;
		font-weight: bold;		
	}

	h2{
		font-size: 1.5rem;
	}
	p{
		margin: 1.5rem 0;
	}	

	ul{
		li{
			position: relative;
			&:before{
				display: inline-block;
				content: "-";
				margin-right: .5rem;
			}
		}
	}

	strong{ 
		font-weight: bold;
	}
}

.gallery{
	margin: 3rem 0;
	text-align: center;
	a{
		display: inline-block;
		position: relative;
		&:before{
			@extend .before;
			background: url(../images/zoom.png) no-repeat center rgba(71, 178, 89, .75);
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			opacity: 0;
			transition: opacity .3s;
		}
		img{
			vertical-align: top;
			height: auto;
			width: auto
		}
		&:hover{
			&:before{
				opacity: 1;
			}
		}
	}
}

#gallery-carousel{
	display: flex;
	justify-content: space-between;
	&.slick-initialized{
		display: block;
	}
}