$color_1: #fff; 
$color_2: #35694d;


/* =mobile-menu
---------------------------*/
.show-sm,
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/


/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/




@media (max-width: 767px){
	.subnav{
		display: none;
	}
	.navmenu{
		height: 100%;
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		min-height: 656px;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		position: fixed;
		right: -300px;
		top: 0;
		transition: .3s;
		width: 300px;
		z-index: -1;

		&__inner{
			position: fixed;
			top: 0;
			bottom: 0;
			width: 300px;
			transition: .3s; 
			overflow: auto;
			height: 100%;
		}

		a,
		span{
			font-weight: normal;
		}

	}

	.mainnav{
		margin-left: 0;
		overflow: hidden;
		padding: 7px 0 0;
		li{
			span{
				border-bottom: none !important;
			}
		}
	}	

	.show-sm{
		display: block;
		text-align: left;
	}
	.navbar-toggle{
		background-color:$color_2;
		border: none;
		cursor: pointer;
		display: block;
		height: 70px;
		right: 0;
		position: fixed;
		text-align: center;
		top: 0;
		width: 70px;
		z-index: 99;
		.icon-bar{
			background-color: $color_1;
			display: block;
			height: 2px;
			margin: 8px auto;
			width: 30px;
		}
	}


	.show-sm{
		@include font-size(1.5);
		padding-left: 3rem;
		a{
			color: $color2;
			display: block;
			margin: 1.8rem 0;
			text-decoration: none;
			border-bottom: none !important;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	


	.o-menu{
		.navmenu{
			background: $color_2;
			z-index: 500;
			right: 0;
		}

		.close-menu{
			display: block;
		}




	}

	.close-menu{
		@include transition;
		background-color: $color_2;
		background: none;
		border: none;
		cursor: pointer;
		display: block;
		height: 58px;
		padding: 0;
		position: fixed;
		right: 2px;
		text-align: center;
		top: 0;
		width: 58px;
		z-index: 99;
		img{
			transition: transform .2s;			
		}
		&:hover img{
			transform: rotate(90deg);
		}
	}


	#navbar{
		background-color:$color_2;
		a{
			border-bottom: none !important;
			font-size: 1.8rem;
			font-weight: 400;
			&:hover{
				text-decoration: none;
			}
		}
		span{
			font-size: 1.8rem;
		}
		.container{
			padding: 0;
		}
		ul.nav{
			background: none;
			display: block;
			font-size: 15px;
			margin-top: 0;
			padding-left: 15px;
			padding-right: 15px;
			text-align: left;

			& > li.active > a{
				text-decoration: underline;				
			}
			li{ // 1 level
				padding: 0;
				border-bottom: 1px solid #fff;

				a, span{
					color: $color_1;
					display: block;
					height: auto;
					line-height: normal;
					padding: 18px 0 18px 10px;
					text-decoration: none;
					text-transform: none;
					&:hover{
						text-decoration: underline;
						color: #fff;
					}
					&:before{
						display: none !important;
					}
				}
				&.active,
				&:hover{
					a, span{
						background: none;
					}
					border-bottom: 1px solid #fff;
					color: #fff;
				}

				&.active{
					a{
						&:hover{
							color : #fff;
						}
					}
					a,
					span{
						text-decoration: underline;
					}
				}

				&.folder{
					& > a{
						position: relative;
						&:after{
							background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIlJREFUeNpi+P//vw0QBwMxAzbMxMDA4ALEa4A4iQEbAKoSB+Lt/yEgBd0EGIMXiHdAFSVjUwDCfEC8C90kdEcJQa37A8T5QCyBzeUCQHwXalIfuiQTEHdBJecBsRGyJCMQ98N0YnMDTLIfahJcAQcQ9yJJYoRDEVSyF2oNhgIfIM7FJgnCAAEGAKmlN490MQwsAAAAAElFTkSuQmCC") no-repeat right top;
							content: "";
							display: block;
							height: 12px;
							position: absolute;
							right: 20px;
							width: 8px;
							top: 24px;
							transition: transform .3s;
						}
						&.open{
							&:after{
								transform: rotate(90deg)
							}
						}
					}

					.subnav{
						position: static;
						width: 100%;
						margin-left: 0;
						transform: translateX(0) !important;
						ul{
							background: none;
							margin-top: -10px;
							opacity: 1;
							padding: 0;
							li{
								border-bottom: none;
								a,span{
									padding: 7px 0 7px 10px;
								}
								a{
									&:hover{
										text-decoration: underline;
									}
								}
							}
							&:before{
								display: none;
							}
						}
					}
				}
			}
		}

		.nav-tabs>li{
			margin: 0;
		}
	}
}