// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff



@media (min-width: 576px){
	.modal-container {
	    max-width: 540px;
	}
}

@media (min-width: 768px){ 
	.modal-container {
	    max-width: 720px;
	}
}

@media (min-width: 992px){
	.modal-container {
	    max-width: 900px;
	}
}


@media (min-width: 1360px){
	.modal-container{
		max-width: 1200px
	}
}


// Kill the scroll on the body
.modal-open {
  overflow: hidden;
  .outerwrapper{
  	filter: blur(6px);
  }
}

// Container that the modal scrolls within
.modal {
	font-family: "SegoeUI";
	font-style: italic;
	position: fixed;
	top: 16%;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	display: none;
	overflow: hidden;
	// Prevent Chrome on Windows from adding a focus outline. For details, see
	// https://github.com/twbs/bootstrap/pull/10951.
	outline: 0;
	// We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
	// gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
	// See also https://github.com/twbs/bootstrap/issues/17695

	// When fading in the modal, animate it to slide down
	&.fade .modal-dialog {
		transition: transform .3s ease-out,-webkit-transform .3s ease-out;
	transform: translate(0, -25%);
	}
	&.show .modal-dialog { transform: translate(0, 0); }

	&-container{
	  	margin-left: auto;
	  	margin-right: auto;
	  	position: relative;
	  	// width: 1200px;
	  	width: 90%;
	}


	.submit{
		background-color: $color4;
		background-image: linear-gradient(to top, #307a56 0%, #8bbaa3 100%);
		border-radius: 4px;
		border: none;
		color: $color2;
		cursor: pointer;
		display: block;
		font-family: "SegoeUI";
		font-size: 1.4rem;
		font-style: italic;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
		padding: .8rem 5rem;
		&:hover{
			background-image: linear-gradient(to top, #8bbaa3 0%, #307a56 100%);
		}
	}
}

.sending,
.thank{
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -1px;
	height: auto;
	left: 0;
	margin-bottom: 0;
	font-size: 1.5rem;
	right: 0;
	top: 0;
	font-size: 1.8rem;
	padding: 8rem 0 9rem;
}


.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
	background-color: $color11;
	position: relative;
	width: auto;
	// margin: 10px;
	top: 0;
	padding-top: 40px;
	padding-bottom: 40px;
	.container{
		position: relative;
	}

	.close-modal{
		top: -32px;
		left: 50%;
		transform: translateX(-50%);
		svg{
			transition: transform .3s;			
		}
		&:hover{
			svg{
				transform: rotate(90deg);				
			}
		}
	}

	.title{
		// @include font-size(1.8);
		color: $color10;
		text-transform: uppercase;
		padding-bottom: 1rem;
	}

	.form-control{
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 8px;
	}
}

// Actual modal
.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	outline: 0;
}

// Modal background
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1071;
	background-color: #000;

	// Fade for backdrop
	&.fade { opacity: 0; }
	&.show { opacity: .5 !important }
}




// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  flex: 1 1 auto;
}


// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.close-modal{
	background: none;
	border: none;
	color: $color7;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
	cursor: pointer;
        line{
			stroke: $color4;
			stroke-width:4
        }
	&:hover{
		span{
			text-decoration: underline;
		}
	}
	span{
		color: $color4;
	}
}

form{
	.thank{
		color: $color3;
		// background-color: $color2;
		// border: 1px solid $color4;
		padding: 5rem 0;
		margin-bottom: 3rem;
	}
}

#callback,

.modal
{
	padding-right: 0 !important; 
	.modal-dialog{
		margin-left: 0;
		margin-right: 0;
		margin-top: 98px;
		padding: 4rem 0 4px;
		width: 100%;
	}


	form{
		// background-color: $color2;
		$color: $color10;
		.form-control{
			font-family: SegoeUI;
			margin-bottom: 1rem;
			font-size: 1.8rem;
			// border:1px solid $color;
			color: $color3;
			text-align: center;
			height: 3.8rem;
			width: 100%;
			&:disabled{
				background-color: #EAEBE3;
			}
		}

		textarea.form-control{
			height: 8.5rem;
			text-align: left;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}


		.policy{
			margin-top: 2.2rem;
			margin-bottom: 1rem;
			color: $color3;
			a{
				@extend .tdn;
			}
		}
	}
}


#advantage{

	.modal{
		&-dialog{
			color: $color3;
			padding-bottom: 3.2rem;
		}

		&-title{
			border: 1px solid #cccccc;
			background-color: #ffffff;			
			border-radius: 8px;
			font-size: 1.8rem;
			padding-top: .5rem;
			padding-bottom: .5rem;
			text-align: center;
			margin-bottom: 1.2rem;
		}
	}


	.modal-text{
		border: 1px solid #ccc;
		background-color: #fff;			
		border-radius: 8px;
		padding: 1.5rem 1rem 0 1.2rem;
		height: 210px;
		p{
			margin: 1rem 0;
			&:first-child{
				margin-top: 0;
			}
		}
	}

	#advantage-title{
		text-transform: uppercase;
	}

	.scroll-wrapper>.scroll-content{
		padding-right: 3rem;
	}
}


.submit:disabled{
	cursor: default !important;
	background-color: #ccc !important;
}
