@media (max-width: 1800px){
	.homeslider{
		height: auto;
	}
}


@media (max-width: 1680px){
	.btn-need,
	.btn-rec
	{
		top: 336px;
	}

	.btn-house
	{
		top: 535px;
	}


	.page-error{
		.main{

		}
		.reason{
			margin-top: 50rem;
		}
	}
}



@media (max-width: 1400px){
	.about__item:after{
		background-size: contain;
		width: 330px;
	}

	.info__tabs{
		.slick-prev{
			left: -20px;
		}
		.slick-next{
			right: -20px;
		}
	}
}


@media (max-width: 1366px){
	.btn-need,
	.btn-rec
	{
		top: 262px;
	}

	.btn-house
	{
		top: 460px;
	}

	.homeslider{
		font-size: 2.6rem;
		.text{
			margin-left: 4rem;
		}
	}
}


@media (max-width: 1320px){
	.info__tabs{
		.slick-prev{
			left: -5px;
		}
		.slick-next{
			right: -5px;
		}
	}

	.scheme{
		display: grid;
		margin-top: 2rem;
		grid-auto-flow: column;
		grid-template-rows: repeat(3, minmax(170px, 1fr));
		grid-column-gap: 1rem;

		.step{
			margin: 0 auto;
			position: static;
			width: auto;
			&:before{
				display: none;
			}
			&__desc{
				padding-top: 3.5rem;
			}
			&-inv{
				.step{
					&__num{
						order: 0;
					}
					&__desc{
						margin-right: 0;
						padding-left: 1rem;
						text-align: left;
					}
				}
			}
		}		
	}
}


@media (max-width: 1299px){
	.rubric{
		&__plate{
			width: 47%;
		}
		&__img{
			width: auto;
			max-width: 100%;
			display: block;
		}
		&__more{
			right: 15px;
		}
	}

	// advantages
	.advantages{
		.d-grid{
			grid-template-columns: repeat(5,156px);
		}
	}

	// aboutcifr
	.about__item{
		font-size: 2rem;
		&:after{
			width: 260px;
		}
		.cifr{
			font-size: 5rem;
			i{
				width: auto !important;
			}
		}
	}

	// connections 
	.connection{
		&__desc{
			padding: .6rem
		}
		&__plate{
			width: 47%;
		}
		&__img{
			max-width: 100%
		}
		&__subtitle{
			margin-top: .5rem;
		}
	}

	// reviews
	.reviews #reviews-carousel{
		width: 100%;
	}

	// services
	.service{
		&__item{
			flex-shrink: 0;
			width: 45%;
			flex-basis: 45%;
			img{
				max-width: 100%;
			}
		}
	}

	// gallery
	.gallery__list{
		display: flex;
		justify-content: space-around;
	}

	.photos__list{
		grid-template-columns: repeat(4, 204px);
		margin: 0;
	}

	.video__list,
,,
	.articles__list
	{
		grid-template-columns: repeat(2, 365px);
		margin: 0;
	}
}


@media (max-width: 1280px){
	.btn-need,
	.btn-rec
	{
		top: 220px;
	}

	.btn-house
	{
		top: 420px;
	}

	.homeslider{
		font-size: 2.4rem;
		.container{
			transform: translateX(0);
			margin-left: 50px;
		}
		.text{
			transform: translateY(-50%)
		}
		.slick-dots{
			bottom: 0;
			display: inline-block;
			left: 50%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 10px;
			position: relative;
			text-align: center;
			top: 0;
			transform: translateX(-50%);
			&:before{
				display: none;
			}
			li{
				display: inline-block;
				margin-top: 8px;
				vertical-align: top;
				button:after{
					display: none;
				}
			}
		}
	}

}


@media (max-width: 1060px){
	.slick-prev{
		left: -28px;
	}
	.slick-next{
		right: -28px;
	}

	.info__tabs{
		.slick-prev{
			left: -10px;
		}
		.slick-next{
			right: -10px;
		}		
	}

	.reviews #reviews-carousel{
		width: auto;
	}
}


@media (max-width: 1024px){
	.slick-prev{
		left: -20px;
	}
	.slick-next{
		right: -20px;
	}

	#reviews-carousel{
		.slick-prev{
			left: -25px;
		}
		.slick-next{
			right: -25px;
		}
		.slick-arrow{
			transform: scale(.6);
			&.slick-next{
				transform: scale(.6) rotate(180deg)
			}
		}
	}

	#gallery-carousel{
		.slick-prev{
			left: -40px;
		}
		.slick-next{
			right: -40px;
		}
	}

}

@media (max-width: 1024px) and (max-height: 770px){
	#iwant,
	#invite,
	#advantage
	{
		.modal-dialog{
			margin-top: 40px;
		}
	}
}


@media (max-width: 991px){
	.rubric{
		&__plate{
			width: 475px;
			margin: 1.5rem auto;
		}
	}

	// advantages
	.advantages{
		.d-grid{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
	.advantage{
		&__item{
			margin-left: .8rem;
			margin-right: .8rem;			
		}
	}

	// aboutcifr
	.about{
		&__wrapper{
			align-items: center;
			flex-direction: column !important;
			padding-bottom: 0;
		}
		&__item{
			margin-bottom: 6rem;
			padding-left: 0;
			text-align: center;
			width: 26rem;
		}
	}

	// connection
	.connections{
		.d-flex{
			flex-direction: column;
		}
		.htitle{
			&:before,
			&:after{
				display: none !important;
			}
		}
	}
	.connection{
		&__plate{
			margin: 2rem auto;
			width: 470px;
		}
	}

	// info tabs
	.info__tabs{
		.slick-prev{
			left: -70px;
		}
		.slick-next{
			right: -70px;
		}		
	}

	.reviews{
		.slick-prev{
			left: -40px;
		}
		.slick-next{
			right: -40px;
		}		
	}


	// scheme
	.scheme{
		.step{
			flex-direction: column;
			margin-bottom: 2rem;
			&__num{
				margin-left: auto;
				margin-right: auto;
			}
			&__desc{
				text-align: center !important;
				padding-top: .5rem;
			}
		}
	}


	// reviews__list
	#comment-form-placeholder{
		width: 100%;
	}

	// services
	.service{
		&__item{
			flex-shrink: 0;
			flex-basis: 47%;
			width: 47%;
		}
		&__title{
			font-size: 2rem;
		}
	}


	// photos
	.photos__list
	{
		display: flex;
		justify-content: space-around;
		.gal-item{
			margin-bottom: 2.8rem;
		}
	}

	.video__list,
	.articles__list{
		display: block;
		.video,
		.article{
			&__item{
				margin-bottom: 3.4rem;
			}
		}
	}


	// feedback
	.feedback{
		width: 100%;
	}


	.page-error{
		.main{
			padding-bottom: 1rem;
			background-position: top 100px left 30%;
			// min-height: 820px;
		}

		.subtitle{
			font-size: 2.6rem;
		}

		.reason{
			font-size: 1.8rem; 
			padding: .5rem 1rem;
			margin: 60rem 0 5rem;
			&__title{
				font-size: 2.2rem;
			}
		}
	}
}


@media (max-width: 900px){
	.slick-slide img{
		// height: 250px;
	}

	// info tabs
	.info__tabs{
		.slick-prev{
			left: -55px;
		}
		.slick-next{
			right: -55px;
		}		
	}

	.article{
		&__item{
			img{
				height: auto;
			}
		}
	}
}



@media (max-width: 825px){

	// info tabs
	.info__tabs{
		.slick-prev{
			left: -40px;
		}
		.slick-next{
			right: -40px;
		}		
	}
}




@media (max-width: 768px){
	.rubrics{
		margin: 2rem 0 3rem;
	}
}


@media (max-width: 767px){
	.advantage__link{
		width: 150px;
	}

	.connections{
		padding-top: 3rem;
	}


	// services
	.services__list{
		display: block !important;
	}
	.service{
		&__item{
			flex-shrink: 0;
			flex-basis: 100%;
			width: 100%;
		}
		&__title{
			font-size: 2.4rem;
		}
	}



	iframe{
		width: 100% !important;
	}

	// feedback
	.feedback__form{
		.row{
			display: block;
		}
	}

	.page-error{
		.main{
			// background-position: top 100px left 30%;
			min-height: 600px;
		}

		.reason{
			margin: 40rem 0 5rem;
		}
	}

}


@media (max-width: 790px) and (max-height: 400px){
	.modal{
		top: 0;
	}

	
	.modal.show{
		.modal-dialog{
			transform: none;
			margin-top: 10px;
		}
	}

	#callback,
	#detail
	{
		.modal-dialog{
			margin-top: 30px;
		}
	}

	#invite
	{
		.modal-dialog{
			margin-top: 20px;
		}
	}
}


@media (max-width: 650px){
	.btn{
		&-need,
		&-house,
		&-rec{
			display: none;
		}
	}

	.page-error{
		.main{
			background-position: top 120px left 32%;
			min-height: 0;
		}

		.reason{
			margin: 38rem 0 2rem;
			padding: .5rem 1rem;
		}
	}
}


@media (max-width: 600px){
	.htitle{
		font-size: 2.6rem;
	}

	.slick-slide img{
		height: 200px;
	}
	.homeslider{
		font-size: 2rem;
		.container{
			margin-left: 0;
		}
		.text{
			margin-left: 0;
			width: 90%;
			left: 5%;
			margin-left: auto;
			margin-right: auto;
			padding-right: 25px;
			text-align: center;
		}
	}

	.slick-slide img{
		height: auto;
	}

	.gallery{
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}
}

@media (max-width: 580px){
	.reviews{
		.slick{
			&-arrow{
				display: none !important;
			}
		}
	}
}


@media (max-width: 550px){
	// advantage
	.advantage__link{
		width: 130px;
		img{
			max-width: 100%
		}
	}

	.info__tabs{
		.container{
			padding-left: 0;
			padding-right: 0;
		}
	}


	#reviews-carousel{
		.slick{
			&-prev,
			&-next{
				display: none !important;
			}
		}
	}
	.reviews{
		.container{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.review__item{
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	.vcard{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}


	main{
		h1, h2, h3, h4{
			text-align: center;
		}
		text-align: justify;
	}

	// reviews__list
	#comment-form-placeholder .d-flex .form-group{
		width: 100%;
	}
	.reviews__list,
	.faq__list{
		.d-flex{
			display: block !important;
		}
		.btn{
			width: 100%;
		}
		.ticket-comment{
			padding-left: 1.2rem;
			padding-right: 1.2rem;
			&-text{
				text-align: justify;
			}
		}
	}


	// results
	.sisea-results:after{
		max-width: 445px;
		width: 90%;
	}
}



@media (max-width: 520px){
	.rubric{
		&__plate{
			width: 100%;
		}
		&__desc{
			font-size: 1.6rem;
		}
	}

	// connection
	.connection{
		&__plate{
			max-width: 470px;
			width: 100%;
		}
		&__title{
			font-size: 2.5rem;
		}
		&__subtitle{
			font-size: 2.2rem;
		}
	}

	.advantages{
		overflow: hidden;
	}
}


@media (max-width: 500px){
	.scheme{
		display: block;
	}


	.page-error{
		.main{
			background-position: center;
			background-size: contain;
			min-height: 0;
		}

		.reason{
			margin: 20rem 0 2rem;
			padding: .5rem 1rem;
		}
	}

}


@media (max-width: 485px){
	.htitle{
		font-size: 2.2rem;
	}
	.advantage__link{
		width: 156px;
	}

	// connection
	.connections{
		padding-top: 3.5rem;
	}
	.connection{
		&__img{
			height: 100%;
			width: auto;
			display: block;
		}
	}

	.review__item{
		width: 300px;
	}
}


@media (max-width: 450px){
	.homeslider{
		font-size: 1.6rem;
		.text{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.rubric{
		&__plate{
		}
		&__title{
			font-size: 2.6rem;
		}
		&__text{
			padding-top: 1rem;
		}
		&__desc{
			font-size: 1.6rem;
		}
		&__more{
			font-size: 1.4rem;
		}
	}


	// info tabs

	.photo__item,
	.video__item,
	.article__item
	{
		width: 330px;
	}

	.video{
		&__desc{
			height: auto;
			min-height: 8rem
		}
	}

	.article{
		&__link{
			display: flex;
			flex-direction: column;
			position: relative;
			overflow: hidden;
		}
		&__desc{
			margin-top: 170px;
			order: 1;
			position: relative;
			width: auto;
			z-index: 2;
		}
		&__pic{
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
		}
		&__date{
			margin-top: 1rem;
		}
	}

	// gallery
	.gallery__list{
		display: block;
		.photo__item{
			margin-left: auto;
			margin-right: auto;
			width: auto;
			img{
				max-width: 360px;
				width: 100%;
			}
		}
	}


	.photos__list{
		display: block;
	}

	.video__list{
		.video{
			&__item{
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				width: auto;
				img{
					width: 100%;
				}
			}
			&__title{
				white-space: normal;
			}
			&__link{
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.articles__list{
		.article{
			&__item{
				img{
					display: block;
					height: min-content;
					position: static;
					max-height: 280px;
					width: 100% !important;
				}
			}
			&__desc{
				margin-top: 0;
			}
		}
	}



}

@media (max-width: 425px){
	.htitle{
		font-size: 2rem;
	}
	.rubrics{
		margin-top: 2rem;
	}

	.rubric{
		&__desc{
			padding-right: 1.5rem;
		}
		&__title{
			font-size: 2.4rem;
		}
		&__text{
			padding-top: .5rem;
		}
	}

	.map{
		&:before{
			display: none !important;
		}
	}

	// services
	.service{
		&__title{
			font-size: 2.2rem;
		}
	}
}



@media (max-width: 385px){
	.rubrics{
		margin-top: 1rem;
	}

	.rubric{
		&__more{
			right: 10px;
		}
		&__text{
			height: 4.2rem;
			overflow: hidden;
			height: 6.8rem;
		}
	}

	.photo__item,
	.video__item,
	.article__item
	{
		width: 280px;
		img{
			height: auto;
		}
	}

	.map{
		&:before{
			display: none !important;
		}
	}

	.info__tabs{
		min-height: 340px;
	}

	.review__item{
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.step{
		&__title{
			font-size: 2rem;
		}
		&__text{
			font-size: 1.6rem;
		}
	}
}



@media (max-width: 375px){
	// connection
	.connection{
		&__plate{
			height: 200px;
		}
		&__img{
			height: 200px;
		}
	}
}


@media (max-width: 350px){
	.homeslider{
		font-size: 1.5rem;
		line-height: 1.2;
		.text{
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	.review__item{
		width: 280px;
	}

	.photo__item,
	.video__item
	{
		width: 250px;
	}

	.article__item{
		width: 100%;
	}

	.rubric{
		&__more{
			font-size: 1.3rem;
			right: 4px;
		}
	}



	// services
	.service{
		&__title{
			font-size: 2rem;
		}
	}
}



@media (max-width: 320px){
	.rubric{
		&__text{
			height: 6rem;
		}
		&__more{
			bottom: -2px;
		}
	}
}