@media (max-width: 1800px){
	.homeslider{
		height: auto;
	}
}


@media (max-width: 1680px){
	.btn-need,
	.btn-rec
	{
		top: 336px;
	}

	.btn-house
	{
		top: 535px;
	}

}



@media (max-width: 1366px){
	.btn-need,
	.btn-rec
	{
		top: 262px;
	}

	.btn-house
	{
		top: 460px;
	}

	.homeslider{
		font-size: 2.6rem;
		.text{
			margin-left: 4rem;
		}
	}
}


@media (max-width: 1299px){
	.rubric{
		&__plate{
			width: 47%;
		}
		&__img{
			width: auto;
			max-width: 100%;
			display: block;
		}
		&__more{
			right: 15px;
		}
	}

	// advantages
	.advantages{
		.d-grid{
			grid-template-columns: repeat(5,156px);
		}
	}
}


@media (max-width: 1280px){
	.btn-need,
	.btn-rec
	{
		top: 220px;
	}

	.btn-house
	{
		top: 420px;
	}

	.homeslider{
		font-size: 2.4rem;
		.container{
			transform: translateX(0);
			margin-left: 50px;
		}
		.text{
			transform: translateY(-50%)
		}
		.slick-dots{
			bottom: 0;
			display: inline-block;
			left: 50%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 10px;
			position: relative;
			text-align: center;
			top: 0;
			transform: translateX(-50%);
			&:before{
				display: none;
			}
			li{
				display: inline-block;
				margin-top: 8px;
				vertical-align: top;
				button:after{
					display: none;
				}
			}
		}
	}

}


@media (max-width: 991px){
	.rubric{
		&__plate{
			width: 475px;
			margin: 1.5rem auto;
		}
	}

	// advantages
	.advantages{
		.d-grid{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
	.advantage{
		&__item{
			margin-left: .8rem;
			margin-right: .8rem;			
		}
	}
}


@media (max-width: 900px){
	.slick-slide img{
		height: 250px;
	}
}


@media (max-width: 768px){
	.rubrics{
		margin: 2rem 0 3rem;
	}
}


@media (max-width: 767px){
	.advantage__link{
		width: 150px;
	}
}


@media (max-width: 650px){
	.btn{
		&-need,
		&-house,
		&-rec{
			display: none;
		}
	}
}


@media (max-width: 600px){
	.htitle{
		font-size: 2.6rem;
	}

	.slick-slide img{
		height: 200px;
	}
	.homeslider{
		font-size: 2rem;
		.container{
			margin-left: 0;
		}
		.text{
			margin-left: 0;
			width: 90%;
			left: 5%;
			margin-left: auto;
			margin-right: auto;
			padding-right: 25px;
			text-align: center;
		}
	}



}

@media (max-width: 550px){
	// advantage
	.advantage__link{
		width: 130px;
		img{
			max-width: 100%
		}
	}
}



@media (max-width: 520px){
	.rubric{
		&__plate{
			width: 100%;
		}
		&__desc{
			font-size: 1.6rem;
		}
	}
}


@media (max-width: 485px){
	.htitle{
		font-size: 2.2rem;
	}
	.advantage__link{
		width: 156px;
	}
}


@media (max-width: 450px){
	.rubric{
		&__plate{
		}
		&__title{
			font-size: 2.6rem;
		}
		&__text{
			padding-top: 1rem;
		}
		&__desc{
			font-size: 1.6rem;
		}
		&__more{
			font-size: 1.4rem;
		}
	}
}

@media (max-width: 425px){
	.htitle{
		font-size: 2rem;
	}
	.rubrics{
		margin-top: 2rem;
	}

	.rubric{
		&__desc{
			padding-right: 1.5rem;
		}
		&__title{
			font-size: 2.4rem;
		}
		&__text{
			overflow: hidden;
			height: 7rem;
			padding-top: .5rem;
		}
	}
}



@media (max-width: 385px){
	.rubrics{
		margin-top: 1rem;
	}

	.rubric{
		&__text{
			height: 4.2rem;
		}
		&__more{
			right: 10px;
		}
	}
}



@media (max-width: 350px){
	.rubric{
		&__more{
			font-size: 1.3rem;
			right: 4px;
		}
	}
}
