.reviews__list{
	.ticket{
		&-comment{
			background-color: $color8;
			font-style: italic;
			margin: 3.4rem 0;
			padding: 1rem .8rem 1.2rem 2.2rem; 
			&-author{
				border-bottom: 1px dashed ;
				color: $color10;
				font-size: 1.5rem;
			}
			&-text{
				color: $color1;
				margin-top: 1rem;
				p{
					margin: .3rem 0;
				}
			}
		}
	}
}

.comment-list{
	list-style: none;
}

#comment-form-placeholder{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	h3{
		font-size: 1.5rem;
		text-transform: uppercase;
		position: relative;
		text-align: center;
		padding-top: 2rem;
		color: $color1;
		&:after{
			@extend .before;
			border-top: 2px solid $color4;
			width: 250px;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
		}
	}

	.d-flex{
		.form-group{
			width: 48%;
		}
	}
}

#comment-form{	
	.form-control{
		border-radius: 5px;
		background: $color6;
		border: none;
		margin-top: 1.8rem;
		padding-left: 1.4rem;
		padding-right: 1.4rem;
	}

	input.form-control{
		height: 3rem;
		width: 100%;
		flex-basis: 50%;
		flex-shrink: 0
	}

	textarea.form-control{
		height: 9.5rem;
		width: 100%;
	}

	.btn{
		border-radius: 5px;
		display: block;
		height: 3rem;
		margin: 1.2rem auto 0;
		padding: 0;
		width: 30rem;
	}
}


// faq
.faq__list{
	#comment-form-placeholder{
		margin-top: 3.5rem;
	}
	.ec{
		&-message{
			font-style: italic;
			margin: .7rem 0;
			font-family: "SegoeUI";
			padding: 1rem 1.5rem;
			transition: background-color .3s;
			&-text{
				cursor: pointer;
				p{
					border-bottom: 1px dashed rgba(0,0,0,0);
					display: inline-block;
					margin: 0;
					transition: border-bottom .3s;
					&:hover{
						border-bottom: 1px dashed ;
					}
				}
			}
			&__reply{
				display: none;
			}

			&.open{
				background-color: $color4;
				color: $color2;
				.ec{
					&-message{
						&-text{
							p{
								border-bottom-color: $color2;
							}
						}
						&__reply{

						}
					}
				}
			}
		}
	}
}