.gallery__list{
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 75px;
    flex-wrap: wrap;
    justify-content: space-between;
	.photo{
		&__item{
			margin: 1.7rem 0;
		}
	}
}

.photos,
.video,
.articles
{
	&__list{
	    flex-wrap: wrap;
	    justify-content: space-between;
	    grid-row-gap: 2.8rem;
	}
}

.photos__list{
    grid-template-columns: repeat(5, 204px);
    margin: 4rem 7rem 3rem;
}


.video__list{
    grid-template-columns: repeat(3, 365px);
    margin: 4rem 5.5rem 3rem;
}

.articles__list{
    grid-template-columns: repeat(3, 365px);
    margin: 4rem 5.5rem 3rem;
    p{
    	margin: 0;
    }
}